#full{
	width:100%;
	height:auto;
}
#ineer_full{
	width: 80%;
	height:auto ;
}
#header{
	width: 100%;
	height: 50px;
	background-color:blue;
	color: black;
	
}
#body{
	width: 100%;
	height:  400px;
	
}

ul li{
	
	width:20%;
	height:50px;
	line-height:50px;
	margin-left:50px;
	background:orange;
	background:orange;
	color:white;
	float:left;
	border-radius:10px;
	list-style:none;
	text-align:center;
}
ul li a{
	text-decoration:none;
	color:white;
	
}
#form{width: 80% ;
	height:  300px;
	background-color:blue;
	color:white;
	border-radius:10px;
	
}
p a{
	width:20%;
	height:50px;
	line-height:50px;
	margin-left:55px;
	background:navy;
	color:white;
	float:left;
	border-radius:10px;
	list-style:none;
	text-align:center;
}

